<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Left -->
    <div class="container">
      <div class="left">
        <!-- Sidebar -->
        <!-- logo -->
        <div class="logo"></div>
        <!-- list item -->
        <div class="list-navbar"></div>
        <!-- profile -->
        <div class="profile"></div>
      </div>
      <!-- Right -->
      <div class="right">
        <!-- Navbar -->
        <div class="navbar"></div>
        <!-- Content -->
      </div>
    </div>
  </body>
</html>
