<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylesheet/orderManagement.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  </head>
  <body>
    <div class="container">
      <!-- Left -->
      <div class="left">
        <!-- Sidebar -->
        <!-- logo -->
      </div>
      <!-- Right -->
      <div class="right">
        <!-- Navbar -->
        <div class="navbar">
          <!-- Search -->
        </div>
        <!-- Content -->
        <div class="content">
          <h2 style="font-size: 30px; font-weight: bold; margin-bottom: 40px;">Quản lý đơn hàng</h2>
          <div class="tablef-container">
            <table>
              <thead>
                <tr>
                  <th>Mã đơn hàng</th>
                  <th>Mã khách hàng</th>
                  <th>Tên sản phẩm</th>
                  <th>Đơn giá</th>
                  <th>Số lượng</th>
                  <th>Tổng tiền</th>
                  <th >Ngày đặt hàng</th>
                  <th>Ngày giao hàng</th>
                  <th style="width: 15%">Trạng thái đơn hàng</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>
                    Quạt hơi nước mini
                  </td>
                  <td>1.000.000 VND</td>
                  <td>1</td>
                  <td>1.000.000 VND</td>
                  <td>11-6-2024</td>
                  <td>14-6-2024</td>
                  <td>Đã vận chuyển</td>
                  <td style="cursor: pointer">
                    <i style="margin: 0 10px" class="fa-solid fa-trash"></i>
                    <i class="fa-solid fa-pen"></i>
                  </td>
          
                  </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>
                    Quạt làm mát hơi nước điều hòa Hawin HSN55 - 130w - Bản cơ
                  </td>
                  <td>1.000.000 VND</td>
                  <td>1</td>
                  <td>1.000.000 VND</td>
                  <td>11-6-2024</td>
                  <td>14-6-2024</td>
                  <td>Đã vận chuyển</td>
                  <td style="cursor: pointer">
                    <i style="margin: 0 10px" class="fa-solid fa-trash"></i>
                    <i class="fa-solid fa-pen"></i>
                  </td>
          
                  </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>
                    Quạt hơi nước mini
                  </td>
                  <td>1.000.000 VND</td>
                  <td>1</td>
                  <td>1.000.000 VND</td>
                  <td>11-6-2024</td>
                  <td>14-6-2024</td>
                  <td>Đã vận chuyển</td>
                  <td style="cursor: pointer">
                    <i style="margin: 0 10px" class="fa-solid fa-trash"></i>
                    <i class="fa-solid fa-pen"></i>
                  </td>
          
                  </tr>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>
                    Quạt hơi nước mini
                  </td>
                  <td>1.000.000 VND</td>
                  <td>1</td>
                  <td>1.000.000 VND</td>
                  <td>11-6-2024</td>
                  <td>14-6-2024</td>
                  <td>Đã vận chuyển</td>
                  <td style="cursor: pointer">
                    <i style="margin: 0 10px" class="fa-solid fa-trash"></i>
                    <i class="fa-solid fa-pen"></i>
                  </td>
          
                  </tr>
        
          
               

                <!-- Thêm nhiều hàng dữ liệu tại đây -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </body>
  <script src="common/sidebar.js"></script>
  <script src="common/navbar.js"></script>
  <script type="module">
    import activeElement from "./common/common.js"
    const element = document.getElementById("item-order")
    activeElement(element)
  </script>
</html>
